/* ========== Conteúdo Principal =========*/

.conteudoPrincipal-equipamento{
    display:flex;
    flex-wrap: wrap;
}

.conteudoPrincipal-equipamento-link{
    background-color: #FFF;
    width: 31%;
    height: 15.6rem;
    margin:1%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #000;
    display: flex;
    align-items: center;
    
}

.conteudoPrincipal-equipamento-link:hover {
	box-shadow: 5px 5px 5px #000;
}

.equipamentoImagem{
width: 50%;
height: 70%;
margin-bottom: 1rem;
}

.equipamentoLink {
text-decoration: none;
color: #000;
font-weight: bold;
font-size: 1.2rem;
display: block;
width: 100%;
text-align: center;
}



