body {
	background-color: #aaabac;
	font-family: 'Open Sans',Arial,sans-serif;
}

.cabecalhoPrincipal{
    background-color: #000;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 94%;
    padding: 1rem 2rem;
    
}
.container img{
    max-width:130px;
    max-height:50px;
    width: auto;
    height: auto;
}

.cabecalhoPrincipal-nav-link {
    color: #aaabac;
    text-decoration: none;
    font-size: 1.07rem;
    margin-right: 1rem;
    padding: 0.5rem;
    transition: .5s;
    border-radius: 0.5rem;
}

.cabecalhoPrincipal-nav-link:hover {
    color: #FFF;
    background-color: #4e4f50;
    
}

/* ========== Conteúdo Principal =========*/

.conteudoPrincipal {
	margin-top: 1.5rem;
    padding: 1.3rem;
}

.titulo {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
}

.subtitulo {
    font-size: 1.5rem;
    margin-top: 3rem;
}

.conteudoPrincipal-equipamento{
    display:flex;
    flex-wrap: wrap;
}

.conteudoPrincipal-equipamento-link{
    background-color: #FFF;
    width: 31%;
    height: 15.6rem;
    margin:1%;
}

.conteudoPrincipal-equipamento-link img{

width: 80%;
height: 80%;
position: center;
margin-left: 2.5rem;

}

