body {
	background-color: #aaabac;
	font-family: 'Open Sans',Arial,sans-serif;
}

/* ========== CABECALHO DAS PAGINAS ========== */

.cabecalhoPrincipal{
    background-color: #000;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 94%;
    padding: 1rem 2rem;
    
}
.container img{
    max-width:130px;
    max-height:50px;
    width: auto;
    height: auto;
}

.cabecalhoPrincipal-nav-link {
    color: #aaabac;
    text-decoration: none;
    font-size: 1.07rem;
    margin-right: 1rem;
    padding: 0.5rem;
    transition: .5s;
    border-radius: 0.5rem;
}

.cabecalhoPrincipal-nav-link:hover {
    color: #FFF;
    background-color: #4e4f50;
    
}

/* ========== CONTEUDO PRINCIPAL DAS PAGINAS ========== */

.conteudoPrincipal {
    padding: 1.3rem;
}

.titulo {
    font-weight: bold;
    font-size: 2.2rem;
    text-align: center;
}

.subtitulo {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.linha{
    width: 90%;
    height: 0.4rem;
    border-radius:90%;
    background-color: #000;
}


/*****media querys *****/
@media screen and (max-width: 480px) {
    .cabecalhoPrincipal-nav {
        height: auto;
        flex-direction: column;
    }

    .cabecalhoPrincipal .container {
        flex-direction: column;
        align-items: initial;
        text-align: center;
        
    }

    .cabecalhoPrincipal-nav-link {
		width: auto;
		margin: 0 0 0 10px;
	}

    .container img{
        display: none;
    }
}